
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menu {
    background-color: rgb(255, 255, 119);
    text-align: center;
    margin: 50px;
    ;
    border: solid orange ;
    width: 500px; height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#scores{
  margin-left: 100px;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#scores2 {
    margin-left: 100px;
    font-size: 20px;
}

#announcer {
    margin-left: 100px;
    font-size: 38px;
}


button {
    padding: 20px;
   background-color: rgb(255, 228, 52);
  height: 120px; width: 160px;
 margin-top: 80px;
font-size: 30px;
    align-items:center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

